.color-box{
    width: 90px;
    height: 90px;
    margin: 10px;
    display: inline-grid;
    align-items: center;
    text-align: center;
}

.color-val {
    margin: 5px;
    text-align:center;
    font-size:small;

}

.color-hex-code {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    text-wrap:wrap;
    overflow: hidden;
}